
 
.error {
    color: #D8000C;
}

span.error {
    background-color: #FFBABA;
}

span.text {
	font-weight:normal;
	line-height:24px;
}

.lineHeight24 {
	line-height:24px;
}

.detailText {
	float:left;
	width: 100px;
	line-height:24px;
}
